{#
/**
 * @file
 * Default theme implementation to present Twitter entity data.
 *
 * This template is used when viewing Twitter entity pages.
 *
 * Available variables:
 * - attributes: HTML attributes for the container element.
 * - created: Tweet creation date in timestamp.
 * - tweet_id: Tweet ID.
 * - tweet_media: Absolute url to tweet media image.
 * - twitter_user: Twitter user name from witch Tweet was pulled from.
 * - tweet_text: Tweet text.
 * - full_response: Full JSON response from Twitter API.
 *
 * @see template_preprocess_twitter_entity()
 *
 * @ingroup themeable
 */
#}
<article{{ attributes }}>
  <div class="tweet-author">
    <a href="http://twitter.com/{{ twitter_user }}" target="_blank">{{ twitter_user }}</a> - {{ created|date("F d") }}
  </div>

  <div class="tweet-text">{{ tweet_text|raw }}</div>

  {% if image %}
    <div class="tweet-image">
      {{ image }}
    </div>
  {% endif %}

  <div class="tweet-links">
    <a class="reply" href="https://twitter.com/intent/tweet?in_reply_to={{ tweet_id }}" target="_blank" title="Reply">Reply</a>
    <a class="retweet" href="https://twitter.com/intent/retweet?tweet_id={{ tweet_id }}" target="_blank" title="Retweet">Retweet</a>
    <a class="favourite" href="https://twitter.com/intent/favorite?tweet_id={{ tweet_id }}" target="_blank" title="Favourite">Favourite</a>
  </div>
</article>
